body {
  margin: 0;
  background: #ecf7f2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.by-month {
  display: flex;
  align-items: center;
  height: 20px;
  flex: 0.18;
  width: 100%;
  max-width: 204px;
  font-size: 0.6rem;
  align-self: center;
  color: #686059;
  font-weight: lighter;
}

.tab-list {
  display: flex;
  justify-content: flex-end;
  padding-left: 6.5rem;
  padding-top: 1.9rem;
  padding-right: 15rem;
  padding-bottom: 5px;
  margin-top: 0;
  text-align: center;
  max-height: 36.4px;
}

.min-width {
  min-width: 100px;
}

.tab-list-item {
  display: flex;
  font-family: 'Noticia Text', serif;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 3;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(203, 205, 201, 1) 21%,
    rgba(247, 247, 247, 1) 98%
  );
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  padding: 0.55rem 1.35rem;
  color: #76A289;
  font-size: 1rem;
  font-weight: lighter;
  -webkit-text-stroke-width: 0.1px;
}

.gray-box {
  display: block;
  position: absolute;
  width: 1px;
  z-index: 4;
  height: 24px;
  content: '';
  background: #A9B9B0;
  float:left;
  margin-top: 8px;
}

.logo-img {
  background-color: #ECF7F2;
  position: relative;
  z-index: -1;
  width: 14em;
  height: 2.8em;
  padding-top: 1em;
  padding-left: 1rem;
  padding-bottom: 1rem;
  float: left;
}

.inside-nav {
  background-color: white;
  padding: 0.75rem 0 0.75rem 5rem;
  margin: 0;
  position: relative;
  border-top: .5px solid #F0EAE2;
  border-bottom: 1px solid #F0EAE2;
  box-shadow: 0px -7px 15px -11px rgba(121,133,126,0.67);
}

.tab-list-active {
  position:relative;
  z-index: 7;
  background: white !important;
  border: solid #ccc;
  border-bottom: 7px solid white !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 1px 1px 0 1px;
  margin-top: -3px !important;
  align-self: center;
  color: #686059;
  margin-right: -2px;
  -webkit-text-stroke-width: 0.4px;
  box-shadow: 11px 0px 10px -13px black, -11px 0px 10px -13px black;
}



.sub-nav {
  display: inline-flex;
  font-family: 'Sarala', sans-serif;
  padding: 0.2rem 1rem 0.2rem 1rem;
}
.sub-nav-2 {
  font-weight: bold;
}

.container {
  background: #f9f9f3;
  display: block;
  flex-wrap: wrap;
  box-shadow: inset 0px -58px 106px 33px rgba(184, 179, 173, 0.5);
  height: 1000px;
}

.body-cards {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.retail {
  border-right: 1px solid #ccc;
}
.dash {
  border-left: 1px solid #ccc !important;
  z-index: 6
}

.body-whole {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 53rem;
}

.initial-load {
  margin-top: 1rem;
  display: flex;
  margin-left: 0.5rem;
}

.green-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 4.75rem;
  width: 4.75rem;
  max-height: 4.75rem;
  max-width: 4.75rem;
  align-items: center;
  margin-left: 6rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
  transition: 1s;
  box-shadow: inset 0px 3px 3px 0px #b0fc8d;
  background: linear-gradient(to bottom, #99d17d 5%, #83b36b 100%);
  background-color: #99d17d;
  border-radius: 7px;
  border: 1px solid #4b8f29;
  float: left;
}

.green-box:hover {
  background: linear-gradient(to bottom, #83b36b 5%, #99d17d 100%);
  background-color: #83b36b;
}
.green-box:active {
  position: relative;
  top: 10px;
}

.titles {
  display: flex;
  justify-content: stretch;
  margin-left: 0.5rem;
  border-bottom: 1px solid #686059;
  width: 100%;
  max-width: 51rem;
  margin-top: 1.5rem;
  padding-bottom: 5px;
}

.title-names {
  min-width: 120px;
  padding: 2px;
  align-self: baseline;
  color: #686A5C;
  font-family: 'Sarala', sans-serif;
}

.green-box img {
  margin: auto;
  vertical-align: middle;
  justify-self: center;
  align-self: center;
}

.black-box {
  height: 20px;
  width: 20px;
  content: "";
  background: transparent;
}
.white-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  background: white;
  height: 15rem;
  max-height: 30rem;
  max-width: 15.5rem;
  margin: 0.5rem 1.5rem 0.5rem 0.5rem;
  margin-top: 1.5rem;
  border-radius: 4px;
  border: 1px solid #F0EAE2;
}
.white-box-2 {
  height: 25rem;
  background: green;
}
.white-box > section:first-child {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.white-box > section:nth-child(5) > img {
  margin-top: 2rem;
  padding-bottom: 1rem;
  float: inherit;
}

.white-box > section:first-child > span > img {
  display: inline-flex;
  flex: 1;
  position: relative;
}

.text-center {
  flex: 0.5;
  color: #686059;
  font-weight: bold;
  margin: 1rem 0.8rem .1rem 0.8rem;
  width: 100%;
  max-width: 204px;
  align-self: center;
}

.text-center > span > img {
  display: inline-block;
  background: #fff;
  border: 1px solid #eee;
  flex: 2;
}

.white-box img:hover {
  background: lightgrey;
}

.blue-box {
  display: block;
  flex: 0.65;
  flex-direction: column;
  content: "";
  width: 100%;
  height: 50px;
  align-content: space-between;
}

.chart-box {
  flex: 1;
  align-self: center;
}
.chart-box > span > img {
  align-items: center;
}

.tan-box-contents {
  margin: 2px;
  color: #B6BAA3;
  align-self: center;
}

.tan-box {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  content: "";
  flex: 0.65;
  background: #f9f9f9;
  height: 50px;
  width: 100%;
  font-size: 8px;
  margin: -1px;
  border: 1px solid #F0EAE2;
}
.tan-box > :first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tan-box > :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 10px;
}

.tan-box > :nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden-section {
  display: none;
  flex: 2;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 204px;
  height: 45px;
  overflow: hidden;
  margin-top: -0.8rem;
}

.list {
  margin-top: 1rem;
  display: flex;
  font-size: 10px;
  max-width: 204px;
  width: 100%;
}

th {
  text-align: left;
}

.table {
  min-width: 219px;
  width: 120%;
  color: #686A5C;
}
.td-list {
  font-family: 'Abel', sans-serif;
  margin-left: -30px;
  vertical-align: center;
  font-size: 0.75rem;
  padding:0;
}

tr.border_bottom td {
  border-bottom: 1px solid #f9f3f3;
}

.list-item {
  margin-top: 4px;
  list-style-type: none;
}

.more {
  cursor: pointer;
  max-width: 258px;
  margin-left: -2px;
  margin-right: -2px;
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.3);
}

#more {
  padding-left: 1rem;
}

.skewedshadow {
  box-shadow: -11px 0px 10px -12px black;
}

@media screen and (max-width: 1100px){
  .tab-list {
    flex-wrap: wrap;
  }
  .container {
    width:1100px
  }
}
@media screen and (max-width: 1200px){
  .tab-list {
    padding-right: 3rem;
  }
}